<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Management System</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"

          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1> User Management System </h1>
    <hr>
    <h2> Save User</h2>
    <form action="#" th:action="@{/saveUser}" th:object="${user}"
          method="POST">
        <input style="background: antiquewhite" type="text" th:field="*{name}"
               placeholder="User Name" class="form-control mb-4 col-4">
        <input style="background: antiquewhite" type="text" th:field="*{surname}"
               placeholder="User Surname" class="form-control mb-4 col-4">
        <input style="background: antiquewhite" type="number" min="1" step="1" th:field="*{age}"
               placeholder="User Age" class="form-control mb-4 col-4">
        <input style="background: antiquewhite" type="email" th:field="*{email}"
               placeholder="User Email" class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Save User</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to User List</a>
</div>
</body>
</html>